name: Build

on:
  workflow_dispatch:

permissions: 
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh || true

      - name: Generate client
        run: ./scripts/generate.sh

      - name: Build TypeScript package
        run: ./scripts/build-ts.sh

      - name: Commit and tag package
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          VERSION="$(./scripts/get_package_version.sh)"
          gh release create v${VERSION} ./generated/ts-client/*.tgz

